/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
}
html {
  scrollbar-gutter: stable;
}

.homepage {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 800px;
  margin: 32px auto;
  padding: 24px;
  border: 2px dotted hsl(0deg 0% 80%);
  border-radius: 8px;
  font-size: 1.25rem;
  font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}
.homepage ol {
  list-style-type: decimal;
  padding-left: 32px;
}
.homepage a {
  color: hsl(250deg 100% 50%);
  text-decoration: none;
}
.homepage a:hover {
  text-decoration: underline;
}
